<div class="main-container">
        <div class="main-text">
          <div class="presentation-title">
            <h1>
              ECORIEGOTEC <br />
              Proyecto de Internet de las Cosas
            </h1>
          </div>
          <div class="presentation-text">
            <p>
              Somos una empresa dedicada a la creación de sistemas de riego
              inteligentes, que se adaptan a las necesidades de cada planta, con
              el fin de optimizar el uso de agua y energía.
            </p>
            <img src="/images/sistema_riego.jpg" alt="presentation" />
          </div>
          <br />
          <div class="info-1">
            <div class="info-1-text">
              <h4>Nuestra misión...</h4>
              <p>
                es proporcionar soluciones innovadoras que no solo simplifiquen
                el proceso de riego, sino que también lo hagan de manera
                altamente precisa y sostenible. Nuestros sistemas de riego
                inteligentes son diseñados para ser una respuesta precisa a las
                necesidades únicas de cada planta, reconociendo que no todas las
                especies vegetales requieren la misma cantidad de agua o la
                misma programación de riego.
              </p>
            </div>
            <div class="info-1-img">
              <img src="/images/sistema_riego_2.jpg" alt="smart_irrigation" />
            </div>
          </div>
          <br />
          <div class="info-2">
            <div class="info-2-text">
              <h4>Lo que nos distingue...</h4>
              <p>
                de otras empresas en este campo es nuestro enfoque altamente
                personalizado. Utilizamos tecnologías de vanguardia y sensores
                avanzados que permiten a nuestros sistemas monitorear las
                condiciones específicas de su jardín, cultivo o paisaje. Esto
                implica factores como el tipo de suelo, las condiciones
                climáticas, la humedad existente en el sustrato y las
                necesidades hídricas particulares de cada planta.
              </p>
            </div>
            <div class="info-2-img">
              <img src="/images/sistema_riego_3.png" alt="custum_irrigation" />
            </div>
          </div>
          <br />
          <div class="info-3">
            <div class="info-3-text">
              <h4>Nuestra filosofía...</h4>
              <p>
                se basa en la idea de la sostenibilidad ambiental y la
                conservación de recursos naturales. Al optimizar el uso del agua
                y la energía en el proceso de riego, no solo ayudamos a nuestros
                clientes a reducir sus costos operativos, sino que también
                contribuimos activamente a la conservación de estos recursos tan
                preciados.
              </p>
            </div>
          </div>
        </div>
        <div class="main-button">
          <a href="/plants">
            <button class="button-plants" role="button">
              <span class="text">Ver plantas</span>
            </button>
          </a>
        </div>
      </div>