<link rel="stylesheet" href="/styles/plants.css" />
<div class="plants-main-container">
        <div class="plants-main-text">
          <div class="plants-presentation-title">
            <h1>PLANTAS DISPONIBLES</h1>
          </div>
        </div>
        <div class="plants-columns-section">
          <div class="plants-columns-images">
            <section>
              <div class="plants-vegetables-image">
                <img
                  src="/images/plants/Vegetables_greens.jpg"
                  alt="Vegetables and greens"
                />
              </div>
              <div class="plants-vegetables-text">
                <a href="/html/vegetables.html">
                  <h4>Hortalizas y verduras</h4>
                </a>
              </div>
            </section>

            <section>
              <div class="plants-trees-image">
                <img src="/images/plants/fruit_trees.png" alt="Fruit trees" />
              </div>
              <div class="plants-trees-text">
                <a href="/html/fruit_trees.html">
                  <h4>Árboles frutales</h4>
                </a>
              </div>
            </section>

            <section>
              <div class="plants-gardens-image">
                <img
                  src="/images/plants/lawn_gardens.png"
                  alt="Lawn and gardens"
                />
              </div>
              <div class="plants-gardens-text">
                <a href="/html/gardens.html">
                  <h4>Césped y jardines</h4>
                </a>
              </div>
            </section>

            <section>
              <div class="plants-greenhouses-image">
                <img src="/images/plants/greenhouses.png" alt="Greenhouses" />
              </div>
              <div class="plants-greenhouses-text">
                <a href="/html/greenhouses.html">
                  <h4>Invernaderos</h4>
                </a>
              </div>
            </section>

            <section>
              <div class="plants-ornamentals-image">
                <img
                  src="/images/plants/ornamental-plants.png"
                  alt="Lawn and gardens"
                />
              </div>
              <div class="plants-ornamentals-text">
                <a href="/html/ornamentals.html">  
                  <h4>Plantas ornamentales</h4>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>